<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyber square</title>
</head>

<body>
    <h1 align="center">WELOME CYBER SQUARE</h1>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempora consectetur, maiores error ad voluptas qui soluta vitae distinctio aperiam nam. Numquam blanditiis sequi eaque impedit distinctio nisi soluta ipsam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tenetur ea expedita fugiat. Maxime perferendis repellat laboriosam saepe consequuntur blanditiis optio dolore aliquid pariatur? Deserunt deleniti ab rerum nisi beatae?</p>
    <div>

        <center><a href="http://127.0.0.1:5500/app2/templates/about.html">ABOUT</a></center>
    </div>
    <div>
        <center><a href="http://127.0.0.1:5500/app2/templates/contact.html">CONTACT</a></center>
    </div>
</body>

</html>